{% extends 'base.html.twig' %}

{% block title %}Films
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="text-white mb-4">Films</h1>
		<div class="row">
			{% for film in films %}
				<div class="col-md-4 mb-4">
					<div class="card bg-dark text-white h-100">
						<img src="{{ asset('uploads/films/' ~ film.affiche) }}" alt="Affiche de {{ film.titre }}" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">{{ film.titre }}</h5>
							<p class="card-text">{{ film.description }}</p>
							<a href="{{ path('film_detail', {'id': film.id}) }}" class="btn btn-danger">Details</a>
						</div>
					</div>
				</div>
			{% else %}
				<div class="col-12">
					<p class="text-white">Aucun film à afficher.</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
